<h1>Hello World</h1>

<script src="/static/lib/websockets.js"></script>
<script>
    const origin = location.origin;
    const ws = websockets(`ws://${location.host}/ws`);

    ws.socket.addEventListener('open', () => {
        ws.on('connect', console.log);

        ws.emit('set', {
            path: 'users/me/posts',
            value: {
                title: 'Hello World',
                content: 'Lorem ipsum dolor sit amet'
            }
        });

        ws.on('change', value => {
            console.log(value);
        });
    });
</script>
